@use "@pug/components/_ui/cards/review-card/review-card";
@forward "@styles/_extends/flexbox";
@forward "@styles/_extends/effects";
@forward "@styles/_extends/resets";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
@use "@pug/components/_ui/cards/staff-preview-card/staff-preview-card";

.reviews {
  container: reviews-container / inline-size;

  .swiper-container {
    position: relative;

    &:has(.swiper-pagination) {
      padding-bottom: 30px;
    }

    .swiper-pagination {
      bottom: 0;
      padding: 0 60px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-button-prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-slide {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media-up($mobile-width) {
      &:has(.swiper-button-prev),
      &:has(.swiper-button-next) {
        padding-left: 60px;
        padding-right: 60px;

        .swiper-button-next,
        .swiper-button-prev {
          display: flex;
        }
      }
    }
  }
}
